/* Navbar */

#nav-bar.top-bar.stick-it {
    height: 60px;
}

#nav-menu {
    padding-top: 10px;
}

.wedding-logo {
    top: 8px;
    left: 0px;
}

/* LOGO */

.middle-letter {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    top: 24px;
    right: 34px;
}

.top-heart {
    font-size: 12px;
    top: 9px;
    left: 25px;
}

.his-initial,
.her-initial {
    font-size: 26px;
}

.line-1,
.line-2 {
    width: 50px;
    top: 7px;
}

.line-1 {
    left: 30px;
    transform: rotate(30deg);
}

.line-2 {
    right: 34px;
    transform: rotate(-30deg);
}

/* Title override */

#slide-his-name {

}

#slide-and-text {
    margin-top: 50px;
}

#slide-her-name {
    margin-top: 140px;
}

@media screen and (min-width: 991px) {
    .after-wedding #slide-couplename-wrapper {
        margin: 0 0 130px;
    }

    .after-wedding #slide-couplename {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .after-wedding #slide-his-name {

    }

    .after-wedding #slide-and-text {
        margin-top: 0;
    }

    .after-wedding #slide-her-name {
        margin-top: 0;
    }

    .after-wedding #and-text {
        position: static;
        width: 130px;
    }

    .after-wedding #curve-graphic {
        left: 10px;
    }

    .after-wedding #slide-other-text {
        margin-top: 60px;
        font-size: 20px;
    }
}

.map-container iframe {
    pointer-events: none;
}

.map-container iframe.clicked {
    pointer-events: auto;
}

.gift-logo img {
    width: 100%;
}

#expectations-section img {
    width: 100%;
}

.image-divider_static-image img {
    width: 100%;
}

.image-divider_static-image .alignment {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.image-divider_static-image .v-align {
    display: flex;
    height: 100%;
    align-items: center;
}

.image-divider_vertical-photo {
    background-position: center 25%;
}

.section-block, .content-block {
    padding: 30px 0;
}

h1, .h1 {
    font-size: 54px;
    letter-spacing: 2px;
    margin: 40px 0;
}

h1.bigger, .h1.bigger {
    font-size: 60px;
}

h2, .h2 {
    font-size: 42px;
    letter-spacing: 1px;
    margin: 30px 0;
}

h3, .h3 {
    font-size: 30px;
    letter-spacing: 1px;
    margin: 20px 0;
}

h4, .h4 {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 15px 0;
}

h5, .h5 {
    font-size: 16px;
    letter-spacing: 0;
    margin: 10px 0;
    line-height: 24px;
}

h6, .h6 {
    font-size: 14px;
    letter-spacing: 0;
    margin: 5px 0;
    line-height: 24px;
}

a {
    transition: color .3s;
}

#and-text {
    position: absolute;
    top: 0px;
    margin: auto;
    left: 35px;
    right: 0;
}

#curve-graphic {
    position: absolute;
    margin: auto;
    top: -13px;
    left: 35px;
    right: 0;
}

#counter-section .image-divider {
    padding: 0;
}

#counter-section .container {
    padding: 375px 0 25px 0;
}

#lets-start-section img {
    /*max-height: 800px;*/
}

#slide-other-text {
    letter-spacing: 1px;
    font-size: 16px;
}

#nav-wrapper svg,
#nav-wrapper svg line {
    fill: #fff;
    stroke: #fff;
}

.after-wedding #nav-wrapper svg,
.after-wedding #nav-wrapper svg line {
    fill: #666;
    stroke: #666;
}

.logo-wrapper {
    display: flex;
    width: 70px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.logo-wrapper svg {
    width: 60px;
    padding-bottom: 5px;
}

.logo-wrapper svg:hover #layer1 {
    animation: pace-3d-spinner linear infinite 2s;
    transform-origin: 50% 50%;
}

.nav-center .first-child-margin {
    margin-left: 35px;
}

.nav-center .last-child-margin {
    margin-right: 0;
}

.nav-center .split-margin {
    margin-left: 72px;
}

@media screen and (max-width: 991px) {
    #nav-wrapper {
        display: flex;
        align-items: center;
    }

    #mobile-nav {
        margin-top: 0;
    }

    .logo-wrapper {
        margin: 0 auto 0 0 !important;
    }

    #counting {
        font-size: 48px;
    }

    #counter-section .image-divider {
        background-position: 45% 50%;
    }

    #adventure-begin-wrapper {
        margin-bottom: 0px;
    }

    #save-date {
        line-height: 0.7;
    }

    h2 {
        font-size: 30px;
    }

    .section-block {
        padding: 10px;
    }

    .slide-image[style*=IMG_6572] {
        background-position: 75% center !important;
    }

    .slide-title-outter-wrapper {
        padding-top: 150px;
    }

    .nav-center .first-child-margin {
        margin: 0;
    }
}

.transparent.stick-it #nav-menu .always-active {
    /*border-color: #FFF;*/
    /*color: #FFF;*/
    color: yellow;
}

.transparent.stick-it #nav-menu .always-active:hover {
    border-color: yellow;
}

.owl-theme .owl-controls .owl-page span {
    width: 10px;
    height: 10px;
}

.owl-item .photo-item {
    heigth: 35px;
}

.owl-item .title-excerpt {
    height: 335px;
}

#to-be-continued-text {
    font-size: 60px;
    font-family: 'Great Vibes', cursive;
}

#photo-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#photo-links .item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #666;
}

#photo-links .title-excerpt {
    padding: 10px;
    flex-grow: 1;
}

#photo-links .photo-item img {
    object-fit: cover;
    height: 300px;
}

@media (min-width: 1367px) {
    #photo-links .photo-item img {
        height: 366px;
    }
}

@media screen and (min-width: 991px) {
    #photo-links .item {
        width: 33%;
    }
}

@media screen and (max-width: 991px) {
    #photo-links .photo-item img {
        height: auto;
    }

    #slide-arrow {
        bottom: 20px;
    }

    #slide-couplename-wrapper {
        margin-bottom: 70px;
    }

    .married-counter {
        height: 300px;
    }

    #counter-section.married-counter .container {
        padding-top: 125px;
    }

    #to-be-continued .image-divider {
        background-position-x: 80%;
    }

    .nav-center .last-child-margin {
        margin-left: 0;
    }
}

#to-be-continued .image-divider {
    height: 600px;
    background-position-y: 30%;
}

#rudnytskykh-signature {
    display: block;
    text-align: right;
    font-family: 'Great Vibes', cursive;
    font-size: 23px;
    line-height: 1.4;
    letter-spacing: 1px;
}